.about_spacer {
  min-height: 20vh;
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.9),
      rgba(11, 29, 38, 0.9)
    ),
    url("../resources/mainGallery/freds_ranch.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5vh 0;
}

.about h2,
.features h4 {
  font-family: "Alegreya SC";
  text-decoration: underline double #ffcf62;
  text-underline-offset: 8px;
  margin-bottom: 15px;
}

.about_items {
  background-image: linear-gradient(
    rgba(11, 29, 38, 0.9),
    rgba(11, 29, 38, 0.9)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 8%;
  gap: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 5px gray;
  border-radius: 5px;
  margin: 5% 2%;
}

.about_items:hover,
.about_items:focus {
  margin: -2%;
}

.about_items > h5 {
  color: #ffcf62;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 8px;
  font-family: "Alegreya SC";
}

.features {
  min-height: 100vh;
  background-color: #f0ead6;
  padding: 8vh 0;
}

.features_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.features_container > img {
  width: 80vw;
  margin-top: -22%;
  border-radius: 10px;
}

.features_glimpse img {
  border-radius: 2%;
}

#restaurant {
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.8),
      rgba(11, 29, 38, 0.6)
    ),
    url("../resources/mainGallery/frr_platter.webp");
}

#events {
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.8),
      rgba(11, 29, 38, 0.6)
    ),
    url("../resources/mainGallery/events_desc.webp");
}

#accommodation {
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.8),
      rgba(11, 29, 38, 0.6)
    ),
    url("../resources/mainGallery/accommodation_desc.webp");
}

#entertainment {
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.8),
      rgba(11, 29, 38, 0.6)
    ),
    url("../resources/mainGallery/entertainment_desc.webp");
}

#agritourism {
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.8),
      rgba(11, 29, 38, 0.6)
    ),
    url("../resources/mainGallery/agritourism_desc.webp");
}

#school {
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.8),
      rgba(11, 29, 38, 0.6)
    ),
    url("../resources/mainGallery/school_desc.webp");
}

.maplocation {
  min-height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .features_container > img {
    width: 45vw;
    margin-top: -12%;
    border-radius: 10px;
  }

  .about_spacer {
    min-height: 5vh;
  }
}
