.accommodation_landing {
  min-height: 90vh;
  padding: 10% 0;
  background-image: url("../resources/accommodationImages/bedFront.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.accommodation_landing h1 {
  color: transparent;
  font-size: 250%;
  font-family: "Alegreya SC";
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.accommodation_content h2,
.accomm_intro h4,
.accommodation_packages #header {
  font-family: "Alegreya SC";
  text-decoration: underline double #c49464;
  text-underline-offset: 8px;
  margin-bottom: 15px;
}

.accommodation_hero {
  padding: 2% 1%;
  display: flex;
  background-color: #15262ead;;
}

.accommodation_content {
  padding: 5% 0;
  min-height: 80vh;
  background-color: #184444;
  color: white;
}

.accomm_intro {
  padding: 3% 0;
  background-color: #f0ead6;
}

.accomm_intro > .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro_row {
  min-height: 60vh;
  padding: 2% 0;
}

.book_now {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.book_now > button {
  padding: 5% 0;
  width: 100%;
  color: black;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: underline;
  text-underline-offset: 8px;
  font-size: large;
}

.book_now > button:hover {
  color: white;
  background-color: #184444;
}

.accom_features {
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.accom_features svg {
  height: 35px;
}

.accommodation_packages {
  padding: 8% 0;
}

.cover_container {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion-body {
  justify-content: space-evenly;
  margin: 2% 0;
}

.accordion-body h6 {
  font-weight: 700;
}

.accordion-body .prices {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (min-width: 600px) {
  .accommodation_landing h1 {
    font-size: 500%;
  }

  .accordion-body {
    display: flex !important;
  }
}
