.ads-carousel-main {
  min-height: 40vh;
}

.ads-carousel-top {
  min-height: 18vh;
}

.ads-carousel-content {
  display: flex;
  padding: 2% 0;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .ads-carousel-content {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0;
  }
}
