.contact_main {
  background-image: linear-gradient(
      rgba(24, 68, 68, 0.7),
      rgba(24, 68, 68, 0.7)
    ),
    url("../resources/farmGallery/horsesRanch.webp");
  min-height: 80vh;
  padding: 3% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.contact_landing {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  padding-bottom: 5%;
  text-align: center;
}

.contact_landing h1 {
  font-family: "Alegreya SC";
  text-decoration: underline double #c49464;
  text-underline-offset: 8px;
  margin-bottom: 15px;
}

.contact_landing h2 {
  font-family: "Dellyani";
  font-size: 200%;
}

.contact_landing h2 {
  font-weight: 500;
}

.contact_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.contact_cards .card {
  text-align: center;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.contact_cards .card-title {
  display: flex;
  justify-content: center;
}

.contact_cards a {
  color: #184444;
  text-decoration: none;
  border: 1px solid #184444;
  border-radius: 10px;
  padding: 4px 10px;
}

.contact_cards svg {
  width: 30px;
}

/* Form Styling */
.form_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_div form {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  width: 100%;
  padding: 5%;
  margin: 2% 0;
  border: 1px solid white;
  border-radius: 8px;
  line-height: 1.6;
}

form .control_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_control {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}

.form_control input[type="text"],
.form_control input[type="email"],
.form_control input[type="tel"],
.form_control textarea,
.form_control select {
  padding: 5px;
  color: black;
  border-radius: 8px;
}

.buttons {
  padding: 1% 0;
}

.buttons button {
  border: 1px solid white;
  padding: 5px 8px;
  width: 100px;
  border-radius: 8px;
  background-color: #184444;
}

@media screen and (min-width: 600px) {
  .contact_landing {
    min-height: 20vh;
  }

  .contact_landing h2 {
    font-size: 300%;
  }

  .contact_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .contact_cards .card {
    margin-left: 0;
    margin-right: 0;
  }

  /* Form Styling Large Devices */
  .form_div form {
    width: 75%;
    padding: 2% 5%;
  }

  form .control_main {
    flex-direction: row;
    gap: 20px;
  }

  .form_control {
    padding: 10px 0;
    margin: 1% 0;
  }
}
