.contact_main {
  background-image: linear-gradient(
      rgba(24, 68, 68, 0.7),
      rgba(24, 68, 68, 0.7)
    ),
    url("../resources/farmGallery/horsesRanch.webp");
  min-height: 80vh;
  padding: 3% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.contact_landing {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  text-align: center;
}

.contact_landing h1 {
  font-family: "Alegreya SC";
  text-decoration: underline double #c49464;
  text-underline-offset: 8px;
  margin-bottom: 15px;
}

.contact_landing h2 {
  font-family: "Dancing_Script";
  font-weight: 500;
}

.form_landing {
  min-height: 70vh;
  padding: 5% 0;
}

.form_landing .form_container {
  padding: 0 8%;
}

.form_fieldset {
  border: 2px solid;
  padding: 5%;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .contact_landing {
    min-height: 40vh;
  }
}
