.dining_landing {
  background-image: url("../resources/mainGallery/choma_stakes.webp");
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dining_landing > .dining_main {
  background-color: #15262ead;
  color: #c49464;
  text-align: center;
  padding: 5%;
}

.dining_main > div > h1,
.dining_main > div > p {
  font-family: "Alegreya SC";
}

.fresh_dining {
  padding: 8% 0;
  color: white;
  background-image: linear-gradient(
      rgba(24, 68, 68, 0.8),
      rgba(24, 68, 68, 0.8)
    ),
    url("../resources/foodImageGallery/saladClear.webp");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fresh_dining .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dining_choma {
  padding: 8% 0;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dining_choma div:nth-child(n) {
  flex: 1;
  padding: 2%;
}

.dining_container h2 {
  font-family: "Alegreya SC";
  text-decoration: underline double #c49464;
  text-underline-offset: 8px;
  margin-bottom: 15px;
}

.dining_container img {
  border-radius: 2%;
  box-shadow: 3px 3px 3px 3px gray;
}

.dining_menu {
  min-height: 100vh;
  padding: 8% 0;
  background-color: #184444;
  color: white;
}

.dining_gallery {
  min-height: 100vh;
  padding: 8% 0;
}

.foodMenu {
  display: flex;
  min-height: 90vh;
  justify-content: center;
}

.foodMenu iframe {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .dining_choma {
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
  }

  .fresh_dining p {
    width: 60%;
    margin-right: auto;
  }
}
