.events_landing {
  padding-top: 20vh;
  padding-bottom: 10vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../resources/eventsImageGallery/table_events.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.events_hero {
  background-color: #15262ead;
  padding: 3%;
  text-align: center;
}

.events_hero h1,
.events_hero h1 span {
  font-family: "Alegreya SC";
  font-size: 250%;
}

.events_hero h1 span{
  font-size: inherit;
}

.events_landing h2,
.events_description > .container h2,
.events_cols h3 {
  font-family: "Alegreya SC";
  text-decoration: underline double #c49464;
  text-underline-offset: 12px;
  line-height: 1.7;
}

.events_landing p {
  max-width: 80%;
}

.title_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 5% 0;
}

.events_landing img {
  border-radius: 50%;
  border: 20px double #c49464;
}

.explore_button {
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
  color: white;
}

.events_description {
  min-height: 100vh;
  padding: 5% 0;
}

.events_description > .container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.events_description > .container > div > .row {
  margin: 5vh 0;
}

.event_row {
  display: flex;
  flex-direction: column;
}

.events_cols {
  flex: 1;
  padding: 1% 2%;
  margin: 1%;
  box-shadow: 2px 0px 5px 5px #f0ead6;
}

@media screen and (min-width: 600px) {
  .event_row {
    display: flex;
    flex-direction: row;
  }

  .events_hero h1 {
    font-size: 400%;
  }
}
