.farm_to_fork_landing {
  /* min-height: 70vh; */
  padding: 8% 0;
}

.top_content,
.bottom_contents,
.center_contents {
  display: flex;
  justify-content: center;
}

.center_contents {
    justify-content: space-between;
}
