.home {
  /* background-image: linear-gradient(
      rgba(11, 29, 38, 0.4),
      rgba(11, 29, 38, 0.4)
    ),
    url("../resources/mainGallery/cabbana.webp"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .carousel {
  position: absolute;
  z-index: -1; /* Ensures that the carousel is behind other content */
}

.home .carousel .carousel-control-prev,
.home .carousel .carousel-control-next {
  display: none !important;
}

.welcome {
  min-height: 100vh;
  padding-bottom: 10%;
  background-image: linear-gradient(
      rgba(24, 68, 68, 0.9),
      rgba(24, 68, 68, 0.75)
    ),
    url("../resources/mainGallery/horse_back.webp");
  box-shadow: 0 -30px 20px 0 rgba(24, 68, 68, 0.92);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.amenities {
  min-height: 65vh;
  padding: 5% 0;
  background-color: #184444;
  color: white;
}

.explore {
  padding: 2% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 10vh;
}

.explore button {
  border: 1px solid #c49464;
  align-self: center;
  padding: 0 20px;
  border-radius: 20px;
}

.explore svg {
  font-size: 50px;
  color: #c49464;
}

/* Amenities items transitions */
.elementVisible {
  opacity: 1;
  transform: translateY(0);
  transition: 1.5s;
}

.elementInvisible {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Socials styling */
.map_socials {
  display: flex;
  flex-direction: column;
}

.map_socials > :nth-child(1) {
  flex: 2;
}

.map_socials > :nth-child(2) {
  flex: 1;
}

@media screen and (min-width: 768px) {
  .map_socials {
    display: flex;
    flex-direction: row;
  }
}
