.home {
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.4),
      rgba(11, 29, 38, 0.4)
    ),
    url("../resources/cabbana.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.welcome {
  min-height: 100vh;
  padding-bottom: 10%;
  background-image: linear-gradient(
      rgba(11, 29, 38, 0.95),
      rgba(11, 29, 38, 0.95)
    ),
    url("../resources/horse_back.jpg");
  box-shadow: 0 -30px 20px 0 rgba(11, 29, 38, 0.93);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.amenities {
  min-height: 65vh;
  padding: 5% 0;
  background-color: #0b1d26;
  color: white;
}

.explore {
  padding: 2% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 10vh;
}

.explore > button {
  border: 1px solid #ffcf62;
  align-self: center;
  padding: 0 20px;
  border-radius: 20px;
}

.explore > button > svg {
  font-size: 50px;
  color: #ffcf62;
}
