#informationModal {
  font-family: "Alegreya SC";
  text-decoration: double underline #c49464;
  text-underline-offset: 8px;
}

.modal-content {
  background-color: #f0ead6 !important;
  width: fit-content;
}

/* Make the Modal above everything in the website */
.modal-backdrop{
  z-index: 100001 !important;
}

.modal{
  z-index: 100002 !important;
}