.offers {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  justify-content: space-evenly;
}

.offers_list {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-around;
}

.offers > .offers_list > .row > div > .items {
  display: flex;
  align-items: center;
  gap: 2%;
  margin: 2%;
  padding: 10px;
  border-radius: 25px;
  background-color: #15262e;
  cursor: pointer;
}

.offers > .offers_list > .row > div > .items > svg {
  color: #877d4b;
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  .offers > .offers_list > .row > div > .items {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 5%;
    padding: 20px;
    border-radius: 50px;
  }

  .offers > .offers_list > .row > div > .items > svg {
    font-size: 40px;
  }
}
