.navbar-collapse{
  flex-grow: 0 !important;
}

.carousel_item{
  max-height: 100vh !important;
  padding: 10px;
}

.carousel_img{
  object-fit: cover;
}

.carousel_caption{
  font-family: "Dancing-script";
}


@media screen and (min-width: 600px) {
  .carousel_caption{
    right: 45% !important;
    top: 60%;
  }
}