@import url("./css/navbar.css");
@import url("./css/landing.css");
@import url("./css/footer.css");
@import url("./css/offers.css");
@import url("./css/about.css");
@import url("./css/errorPage.css");
@import url("./css/dining.css");
@import url("./css/homepage.css");
@import url("./css//events.css");
@import url("./css/accommodation.css");
@import url("./css/contact.css");
@import url("./css/entertainment.css");
@import url("./css/farmToFork.css");
@import url("./css/payment.css");
@import url("./css/infoModal.css");
@import url("./css/WhatsappCTA.css");
@import url("./css/goldvip.css");
@import url("./css/ads-carousel.css");

/* Class to handle outlook of the links to pages from pages */
.pageLink {
  text-align: center;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(196, 148, 100);
}

.pageLink a {
  text-underline-offset: 12px;
  color: white;
  border-radius: 10px;
  padding: 8% 5%;
}

.follow_us {
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.follow_us > div {
  display: flex;
  gap: 20px;
}

.follow_us > div > svg {
  height: 30px;
}

.follow_us > div > svg:hover {
  height: 32px;
}

/* View More button styles */
.view_more {
  color: white;
  min-width: 100px !important;
  text-decoration: underline;
  text-underline-offset: 8px;
  font-size: medium;
}

/* Animation Styling */
.elementShow,
.elementShowSlower {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 0.8s;
}

.elementShowSlower {
  transition-delay: 200ms;
}

.elementHide {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(40px);
}

@media (prefers-reduced-motion) {
  .elementHide {
    transition: none;
  }
}

@media screen and (min-width: 600px) {
  .main_text {
    font-size: large;
  }
}
