@import url("./css/navbar.css");
@import url("./css/landing.css");
@import url("./css/footer.css");
@import url("./css/offers.css");
@import url("./css/about.css");
@import url("./css/errorPage.css");
@import url("./css/dining.css");
@import url("./css/homepage.css");
@import url("./css//events.css");

.follow_us {
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.follow_us > div {
  display: flex;
  gap: 20px;
}

.follow_us > div > svg {
  height: 30px;
}

.follow_us > div > svg:hover {
  height: 32px;
}

@media screen and (min-width: 600px) {
  .main_text {
    font-size: large;
  }
}
