.navbar-collapse{
  flex-grow: 0 !important;
}

.navbar_closed{
  max-height: 10 !important;
  transition: 0.5s ease-out;
}

.navbar_open{
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
  z-index: 100000;
  background-color: #fff;
}

.carousel_item{
  max-height: 65vh !important;
}

.carousel_img{
  object-fit: cover;
}

.school_stroke{
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #fff;
}

.main_text{
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  .carousel_caption{
    right: 45% !important;
    top: 60%;
  }
  .school_caption{
    right: 50%;
    top: 60%;
  }

  .main_text{
    font-size: large;
  }
}